import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;
import org.testng.annotations.Test;
import com.frameworkium.core.ui.tests.BaseTest;
import com.frameworkium.core.common.listeners.CukeListener;

public class $className extends BaseTest {

    @Test
    @CucumberOptions(
            strict = $strict,
            features = {"$featureFile"},
            plugin = {$reports, "com.frameworkium.core.common.listeners.CukeListener", "pretty"},
            monochrome = ${monochrome},
            tags = {#if($tags)$tags#end},
            glue = {$glue})
    public class test_$className extends AbstractTestNGCucumberTests {}

}
