import cucumber.api.CucumberOptions;
import cucumber.api.testng.AbstractTestNGCucumberTests;
import org.testng.annotations.Test;
import com.frameworkium.core.ui.tests.BaseTest;

public class $className extends BaseTest {

    @Test
    @CucumberOptions(
            strict = $strict,
            features = {"$featureFile"},
            plugin = {$reports, "pretty"},
            monochrome = ${monochrome},
            tags = {#if($tags)$tags#end},
            glue = {$glue })
    public class test_$className extends AbstractTestNGCucumberTests {}

}
